	/* General */

a, .icon_box strong {
	color: #185f88;
}

a:hover {
	color: #000;
}

	/* Header */

#footer {
	background-color: #071a25;
}

#header ul li a {
	color: #dedede;
	text-shadow: 2px 2px 1px #000;
}

#header ul li a:hover, #header ul li.sfHover a, #header ul li.logo a, #header ul li.current-cat a, #header ul li.current_page_item a, #header ul li.current_page_parent a, #header ul li.current-menu-item a {
	background: #f2f2f2;
	color: #171717;
	text-shadow: 1px 1px 0 #fff;
}

	/* Navigation Drop Down menus */

#header ul li.sfHover ul li {
	border-bottom: #ccc solid 1px;
}

#header ul li.sfHover ul li a {
	border-bottom: #fff solid 1px;
}

#header ul li.sfHover ul li a {
	color: #0b2b3d;
	text-shadow: 0 1px 0 #fff;
}

#header ul li.sfHover ul li a:hover, #header ul li.sfHover ul li.current_page_item a, #header ul li.sfHover ul li.current-cat a, #header ul li.sfHover ul li.current-menu-item a.sf-with-ul, #header ul li.sfHover ul li.current-menu-item ul li a:hover {
	background-color: #fff;
	color: #000;
}

#featured h1, #featured h2, #featured h3, #featured h4, #featured h5, #featured h6 {
	color: #fff;
	padding: 0 0 5px;
	line-height: 1.2em;
	margin: 0 0 10px;
}

	/* Featured Homepage */

#featured {
	background-image: url('dark_blue/featured_shadow.png');
	background-repeat: repeat-x;
	background-position: left bottom;
	color: #b7b7b7;
	line-height: 1.5em;
	font-size: 1.3em;
}

#breadcrumb {
	background-color: #ccc;
}

#featured .wrapper {
	border-top:1px solid #275976;
}

#featured .alternate .feat_text h5 {
	color: #b7b7b7;
}

#featured h5 a {
	color: #62aef6;
}

#featured h5 a:hover {
	color: #fff;
	text-decoration: underline;
}

	/* Main Content */

#main_content {
	background-color: #fcfcfc;
	background-image: url('dark_blue/bottom_shadow.png');
	background-repeat: repeat-x;
	background-position: 50% top;
	border-top: #fff solid 1px;
}

body.single #main_content {
	background-color: #FCFCFC;
	background-image: url('../images/side_grad.png');
}

.title_descr {
	color: #C0DAF3;
}

#featured #twitter_update_list, #featured #cust_txt {
	color: #cfd8e2;
}

	/* Sidebar Widgets */

#main_content .main_sidebar .widget h3.widgettitle {
	background-color:#DCDCDC;
	color:#333333;
}

	/* Footer */

#footer {
	border-top: #333 solid 1px;
	border-bottom: #184057 solid 1px;
}

#footer_bottom, body {
	background-color: #0d2a3a;
	background-image: url('../images/header-bg.png');
	background-repeat: repeat-x;
}

#footer_bottom {
	border-top: #112834 solid 1px;
	color: #E3E3E4;
}

#footer_bottom span, #footer_bottom span a {
	color: #d5dfee;
}

#footer_bottom span a:hover {
	color: #fff;
	text-decoration: underline;
}

	/* Footer Widgets */

#footer .wrapper .widget h4, #footer h3.flickr_ft {
	border-bottom: #1c3b4c solid 1px;
	color: #fff;
}

#footer .wrapper .widget .content {
	border-top: #000 solid 1px;
	color: #acacac;
}

#footer .wrapper .widget .content a {
	color: #acacac;
}

#footer .wrapper .widget .content a:hover {
	color: #fff;
}

	/* Footer Widgets */

#footer .wrapper .widget {
	-moz-box-shadow:1px 1px 5px #121212;
	border:1px solid #000;
	color:#ddd;
	text-shadow:1px 1px 1px #222;
}

#footer .wrapper #contact-form-widget input, #footer .wrapper #commentsTextWidget {
background: #999;
border:2px solid #111;
color:#000;
padding:4px;

	/* Inner pages rewrites */
